{% extends 'dbmanager/base.html' %}

{% block title %}
{{ Авторизация }}
{% endblock %}

{% block content %}
  {% if status %}
    <div class="alert alert-danger" role="alert">
      {{status}}
    </div>
  {% endif %}
  <form method="post" style="max-width: 500px;">
    {% csrf_token %}
    <div class="form-group">
      <label for="exampleInputUn1">Имя пользователя</label>
      <input type="text" name="username" class="form-control" id="exampleInputUn1" placeholder="Имя пользователя">
    </div>
    <div class="form-group">
      <label for="exampleInputPassword1">Пароль</label>
      <input type="password" name="password" class="form-control" id="exampleInputPassword1" placeholder="Пароль">
    </div>
    <button formaction="{% url 'auth' %}" type="submit" class="btn btn-primary">Войти</button>
  </form>
{% endblock %}