<!doctype html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <title>{% block title %}{% endblock %}</title>
</head>
<body>
    <script>
        {% block script %}{% endblock %}
    </script>
    <div class="d-flex flex-column flex-md-row align-items-center p-3 px-md-4 mb-3 bg-white border-bottom shadow-sm">
      <h5 class="my-0 mr-md-auto font-weight-normal"><a href="{% url 'home' %}" class="p-2 text-dark" >База данных кино</a></h5>
        <nav class="my-2 my-md-0 mr-md-3">
            <form method="get" class="form-inline d-flex justify-content-center md-form form-sm mt-0">
                <i class="fas fa-search" aria-hidden="true"></i>
                <input name="query" class="form-control form-control-sm ml-3 float-left" type="text" placeholder="Поиск"
                aria-label="Search">
                <button class="btn btn-primary btn-sm float-right" formaction="{% url 'search' %}"
                        style="margin-left: 10px">Искать</button>
            </form>
        </nav>
        <nav class="my-2 my-md-0 mr-md-3">
            <a class="p-2 text-dark" href="{% url 'movie_list' %}">Фильмы</a>
        </nav>
        <nav class="my-2 my-md-0 mr-md-3">
            <a class="p-2 text-dark" href="{% url 'director_list' %}">Режиссеры</a>
        </nav>
        {% if user.is_authenticated %}
            <div class="p-2 text-dark">{{ user.username }}</div>
            <a class="btn btn-outline-danger" href="{% url 'logout' %}">Выйти</a>
        {% else %}
            <a class="btn btn-outline-primary" href="{% url 'login' %}">Войти</a>
        {% endif %}

    </div>
    <div class="container">
        {% block content %}{% endblock %}
    </div>
</body>
</html>