{% extends 'dbmanager/base.html' %}

{% block title %}
{{ movie }}
{% endblock %}

{% block content %}
    <h3 style="margin-bottom: 20px;">{{director.name}}</h3>
    {% if director.picture_url != "None" %}
    <img src="{{director.picture_url}}" style="min-width: 200px; max-width: 500px; margin-right: 70px"
         class="rounded float-left w-25" alt="{{director.name}}">
    {% endif %}
    <p><strong>Страна: {{director.country}}</strong></p>
{% endblock %}