{% extends 'dbmanager/base.html' %}

{% block title %}
Список режиссеров
{% endblock %}

{% block content %}
    <h2>Список режиссеров:</h2>
    {% if directors %}
        <ul>
            {% for director in directors %}
                <li>
                    <a href="/details/director/?id={{director.id}}">{{director}}</a>
                    {% if is_admin %}
                        <a class="text-secondary" href="/edit/director/?id={{director.id}}">изменить</a>
                        <a class="text-danger" href="/remove/director/?id={{director.id}}">удалить</a>
                    {% endif %}
                </li>
            {% endfor %}
        </ul>
    {% else %}
        <p>Здесь пусто.</p>
    {% endif %}
    {% if is_admin %}
        <a class="btn btn-outline-primary" href="{% url 'director_create' %}">Добавить режиссера</a>
    {% endif %}
{% endblock %}