{% extends 'dbmanager/base.html' %}

{% block title %}
Редактор "{{ director }}"
{% endblock %}

{% block script %}

{% endblock %}

{% block content %}
    <form method="post">
        {% csrf_token %}
        <input name="id" type="hidden" value="{{director.id}}">
        <input name="action" type="hidden" value="{{action}}">
        <div><span>Имя:</span><input name="name" required style="margin: 0 0 10px 0" class="w-100" type="text" value="{{director.name}}" /></div>
        <div><span>Фотография:</span><input name="picture_url" style="margin: 0 0 10px 0" class="w-100" type="url" value="{{director.picture_url}}" /></div>
        <div><span>Страна:</span><input name="country" style="margin: 0 0 10px 0" class="w-100" type="text" value="{{director.country}}" /></div>


        <button style="margin: 30px 10px 0 0" class="btn btn-outline-success" formaction="{% url 'director_perform' %}" type="submit">Готово</button>
        <a style="margin: 30px 10px 0 0" class="btn btn-outline-danger" href="{% url 'director_list' %}">Отмена</a>
    </form>
{% endblock %}