{% extends 'dbmanager/base.html' %}

{% block title %}
База данных о кино: заглавная
{% endblock %}

{% block content %}
<h3>Вас приветствует веб-приложение базы данных о кино!</h3>
<p>Выберите интересующий вас раздел в панели навигации или воспользуйтесь поиском.</p>
{% endblock %}