{% extends 'dbmanager/base.html' %}

{% block title %}
{{ movie }}
{% endblock %}

{% block content %}
    <h3 style="padding-bottom: 20px;">{{movie.title}}</h3>
    {% if movie.picture_url != "None" %}
    <img src="{{movie.picture_url}}" style="min-width: 200px; max-width: 500px; margin-right: 70px"
         class="rounded float-left w-25" alt="Обложка {{movie.title}}">
    {% endif %}
    <p><strong>Год выпуска: {{movie.year}}</strong></p>
    {% if directors %}
        <p>Режиссеры:</p>
        <ul>
            {% for director in directors %}
            <li>{{director}}</li>
            {% endfor %}
        </ul>
    {% endif %}
    <div>&#10077;{{movie.slogan}}&#10078;</div>
{% endblock %}