{% extends 'dbmanager/base.html' %}

{% block title %}
Список фильмов
{% endblock %}

{% block content %}
    <h2>Список фильмов:</h2>
    {% if movies %}
        <ul>
            {% for movie in movies %}
                <li>
                    <a href="/details/movie/?id={{movie.id}}">{{movie}}</a>
                    {% if is_admin %}
                        <a class="text-secondary" href="/edit/movie/?id={{movie.id}}">изменить</a>
                        <a class="text-danger" href="/remove/movie/?id={{movie.id}}">удалить</a>
                    {% endif %}
                </li>
            {% endfor %}
        </ul>
    {% else %}
            <p>Здесь пусто.</p>
    {% endif %}
    {% if is_admin %}
    <a class="btn btn-outline-primary" href="{% url 'movie_create' %}">Добавить фильм</a>
    {% endif %}
{% endblock %}