{% extends 'dbmanager/base.html' %}

{% block title %}
Редактор "{{ movie }}"
{% endblock %}

{% block script %}

{% endblock %}

{% block content %}
    <form method="post">
        {% csrf_token %}
        <input name="id" type="hidden" value="{{movie.id}}">
        <input name="action" type="hidden" value="{{action}}">
        <div><span>Название:</span><input name="title" required style="margin: 0 0 10px 0" class="w-100" type="text" value="{{movie.title}}" /></div>
        <div><span>Картинка:</span><input name="picture_url" style="margin: 0 0 10px 0" class="w-100" type="url" value="{{movie.picture_url}}" /></div>
        <div><span>Год выпуска:</span><input name="year" required style="margin: 0 0 10px 0" class="w-100" type="number" value="{{movie.year}}" /></div>
        <div><span>Слоган без кавычек:</span><input name="slogan" style="margin: 0 0 10px 0" class="w-100" type="text" value="{{movie.slogan}}" /></div>

        <div>Выберите режиссеров:</div>
        <ul>
            {% for director in directors %}
            <li>
                <input type="checkbox"
                       {% if director in directors_to_check %}
                       checked
                       {% endif %}
                       name="director_{{director.id}}" class="text-secondary">{{director}}</input>
            </li>
            {% endfor %}
        </ul>

        <button style="margin: 30px 10px 0 0" class="btn btn-outline-success" formaction="{% url 'movie_perform' %}" type="submit">Готово</button>
        <a style="margin: 30px 10px 0 0" class="btn btn-outline-danger" href="{% url 'movie_list' %}">Отмена</a>
    </form>
{% endblock %}