{% extends 'dbmanager/base.html' %}

{% block title %}
Список фильмов
{% endblock %}

{% block content %}
    <h2>Фильмы:</h2>
    {% if movies %}
        <ul>
            {% for movie in movies %}
                <li>
                    <a href="/details/movie/?id={{movie.id}}">{{movie}}</a>
                    {% if is_admin %}
                        <a class="text-secondary" href="/edit/movie/?id={{movie.id}}">изменить</a>
                        <a class="text-danger" href="/remove/movie/?id={{movie.id}}">удалить</a>
                    {% endif %}
                </li>
            {% endfor %}
        </ul>
    {% else %}
            <p>Здесь пусто.</p>
    {% endif %}
    <h2>Режиссеры:</h2>
    {% if directors %}
        <ul>
            {% for director in directors %}
                <li>
                    <a href="/details/director/?id={{director.id}}">{{director}}</a>
                    {% if is_admin %}
                        <a class="text-secondary" href="/edit/director/?id={{director.id}}">изменить</a>
                        <a class="text-danger" href="/remove/director/?id={{director.id}}">удалить</a>
                    {% endif %}
                </li>
            {% endfor %}
        </ul>
    {% else %}
        <p>Здесь пусто.</p>
    {% endif %}
{% endblock %}